*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    height: 50px;
    width: 100px;
}

button{
    margin-top: 30px;
    background-color: blue;
    height: 30px;
    width: 100px;
    color: white;

}